GEMINI_API_KEY=""
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_DEPLOYMENT_NAME=""
AUTH_SECRET=""
DATABASE_URL=""
DIRECT_URL=""
RESEND_API_KEY=""
NEXT_PUBLIC_APP_URL=""
DEFAULT_LOCALE=""